/* QB */

@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}

.aside-delivery {
    @extend %flex-bro;
    justify-content: center;
    align-items: center;
    text-align: center;
    .foto-delivery {
        @extend %foto-bro;
        height: 21vh;
        width: auto;
        margin-top: 2.5rem;
        animation: fadeIn 3s ease-in-out;
    }
    
}

.portada {
    @extend %flex-bro;
    justify-content: center;
    color: map-get($color-bro, negro);
    h1 { font-size: 7em; }
    height: 33vh;
}

.productos-galeria {
    @extend %flex-bro;
    justify-content: center;
    .productos-css { /* BUSCARLO EN EL JS */
        @extend %flex-bro;
        width: 360px;
        margin: 2em;
        padding: 2em;
        border: 1px solid #fafafa;
        border-radius: 7px 7px 7px 7px;
        background-image: radial-gradient(circle, #fafafa, #f8f9f8, #f7f7f7, #f5f6f5, #f4f4f4);
        .foto-articulo { @extend %foto-bro;}
        .botonera-articulo {align-self: flex-end;}
    }
}



.footer-maps {
    @extend %foto-bro;
    height: 61vh;
}

.footer-oscuro { /* PARTE NEGRA DEL FOOTER */
    color: map-get($color-bro, gris-medio);
    background-color: map-get($color-bro, negro);

    height: 21vh;
    z-index: 1020;

    text-align: center;
    align-items: center;

    h6 { font-size: 0.6em; }
}