/* QB */

.portada {
    @extend %flex-bro;
    justify-content: center;
    align-items: center;
    color: map-get($color-bro, gris-medio);

    h1 { font-size: 8em; }
    height: 33vh;
}

.productos-galeria {
    justify-content: center;
    .productos-css { /* BUSCARLO EN EL JS */
        @extend %flex-bro;
        width: 360px;
        margin: 1em;
        padding: 1em;
        border: 1px solid #fafafa;
        border-radius: 7px 7px 7px 7px;
        background-image: radial-gradient(circle, #fafafa, #f8f9f8, #f7f7f7, #f5f6f5, #f4f4f4);
        .foto-articulo { @extend %foto-bro;}
        .botonera {align-self: flex-end;}
    }
}

/* LINKS */
.link-negro { a { @include enlace-bro(negro, gris-negro, gris-medio); } } 
.link-gris { .nav-link, .nav-link:hover, .nav-link.active { @include enlace-bro(gris-medio, blanco, gris-negro); } } 
.link-blanco { .nav-link, .nav-link:hover, .nav-link.active { @include enlace-bro(blanco, azul, gris-medio); } }

.footer-maps {
    @extend %foto-bro;
    height: 61vh;
}

.footer-oscuro { /* PARTE NEGRA DEL FOOTER */
    color: map-get($color-bro, gris-medio);
    background-color: map-get($color-bro, negro);

    height: 21vh;
    z-index: 1020;

    text-align: center;
    align-items: center;

    h6 { font-size: 0.6em; }
}