/* MAP + MIXIM */

%foto-bro { 
    width: 100%; 
    object-fit: cover;
};

%flex-bro { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* @mixin enlace-bro($color-link, $color-hover, $color-activo) {
    text-decoration: none;
    color: map-get($color-bro, $color-link);
    &:hover { color: map-get($color-bro, $color-hover); };
    &.active {
        color: map-get($color-bro, $color-activo);
        &:hover { color: map-get($color-bro, $color-hover); };
    };
}; */