@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$fuente-bro: (
    titulo: 'Ubuntu, sans-serif',
    parrafo: 'Ubuntu, sans-serif',
);

$color-bro: (
    negro: #212121,
    gris-negro: #585858,
    gris-medio: #8E8E8E,
    gris-blanco: #F4F4F4,
    blanco: #FAFAFA,
    whatsapp: #128C7E,
);